<style>
    .publication-cell .thumbnail {
        flex: 0 0 80px !important;
        height: 60px !important;
        overflow: hidden !important;
        border-radius: 4px;
        margin-right: 1rem;
    }

    .publication-cell .thumbnail img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
    }

    .publication-cell .desc-cell {
        font-size: 0.75em !important;
    }

    .publication-cell .desc-cell header {
        font-size: 0.8em !important;
    }
</style>