---
layout: archive
---
<!-- <link rel="stylesheet" href="assets/css/main.scss"> -->

<!-- <style>
	.box {
		width: 100%;
		height: 100%;
		border-radius: 70%;f
		overflow: hidden;
	}

	.profile {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.img-container {
		text-align: center;
	}
	.iframe-container {
			position: relative;
			width: 100%;
		}
	.gallery_prev, .gallery_next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background-color: #252a34; /*rgba(0, 0, 0, 0.5);*/
			color: white;
			font-size: 18px;
			border: 2px solid white;
			border-radius: 50%;
			padding: 10px;
			cursor: pointer;
			z-index: 10;
		}
	.gallery_prev {
		left: 0;
	}
	.gallery_next {
		right: 0;
	}

</style> -->

{{ content }}

<h3 class="archive__subtitle">Bio</h3>
<p class="bio">
	I am Yunhong Min, an M.S. student in the <a href="https://visualai.kaist.ac.kr/" target="_blank">KAIST Visual AI
		Group</a>, led by Prof. <a href="https://mhsung.github.io/" target="_blank">Minhyuk Sung</a>.
</p>
<p class="bio">
	My research interests are in diffusion- and flow-based generative models, with a focus on developing a general
	generative framework leveraging powerful generative priors. Recently, I have been exploring how to effectively
	incorporate external guidance during sampling to improve generation quality without requiring additional training.
</p>
<p class="bio">
	For details, refer to my <a href="/assets/CV.pdf" target="_blank">Curriculum Vitae (CV)</a>.
</p>


<h3 class="archive__subtitle">News</h3>
<article class="news">
	<ul id="newsList">
		<li> (Sep. 2025) 2 papers are accepted to NeurIPS 2025.</li>
		<li> (Jun. 2025) I am selected as one of 120 recipients for the 2nd <a
				href="https://www.kosaf.go.kr/ko/scholar.do?pg=scholarship05_22_01&hmNavi=JH,05,01,00"
				target="_blank">Graduate Presidential Science Scholarship</a> out of 2355 applicants.</li>
		<li> (Mar. 2025) Started Master's program at <a href="https://cs.kaist.ac.kr/" target="_blank">KAIST School of
				Computing</a>. (Advisor: Prof. <a href="https://mhsung.github.io/" target="_blank">Minhyuk Sung</a>)
		</li>
		<li> (Dec. 2024) Joined <a href="https://visualai.kaist.ac.kr/" target="_blank">KAIST Visual AI Group</a> as a
			research intern.</li>
		<li> (Aug. 2024) My first paper, <a href="https://arxiv.org/abs/2408.04962" target="_blank">DAFT-GAN</a> is
			accepted at <span class="highlight">ACM MM 2024</span>!</li>
		<li> (Jul. 2024) Internship at <a href="https://sites.google.com/view/jaejunyoo/lait?authuser=0"
				target="_blank">LAIT (Lab. of Advanced Imaging Tech)</a>. (Advisor: Prof. <a
				href="https://github.com/jaejun-yoo" target="_blank">Jaejun Yoo</a>)</li>
		<li> (Nov. 2023) I won the Gold prize (1st place) at the 1st Kohyoung AI competition, held at the <a
				href="https://2023.iccas.org/?page_id=3573" target="_blank">International Conference on Control,
				Automation and Systems (ICCAS) 2023</a>.</li>
		<li> (Sep. 2023) I joined <a href="https://github.com/knu-brainai" target="_blank">KNU Brain AI Lab</a> as an
			undergraduate researcher, led by Prof. Sangtae Ahn.</li>
	</ul>
	<button class="listBtn" , id="newsBtn">Show All</button>
</article>

<h3 class="archive__subtitle">Publications</h3>
<article class="publication">

	<!-- MatLat -->
	<div class="publication-cell">
		<div class="thumbnail">
			<img src="/assets/images/matlat_fig.png" alt="MatLat Thumbnail">
		</div>
		<div class="desc-cell">
			<header><b>MatLat: Material Latent Space for PBR Texture Generation</b></header>
			<div class="authors">
				Kyeongmin Yeo, <b>Yunhong Min</b>, Jaihoon Kim, Minhyuk Sung
			</div>
			<div class="conference"><b>arXiv 2025</b></div>
			<div class="links">
				<a href="https://arxiv.org/abs/2512.17302" target="_blank">[Paper]</a>
				<a href="https://matlat-proj.github.io/" target="_blank">[Project]</a>
				<!-- <a href="https://github.com/KAIST-Visual-AI-Group/Psi-Sampler" target="_blank">[Code]</a> -->
			</div>
		</div>
	</div>

	<!-- BezierFlow -->
	<div class="publication-cell">
		<div class="thumbnail">
			<img src="/assets/images/bezierflow_fig.png" alt="BézierFlow Thumbnail">
		</div>
		<div class="desc-cell">
			<header><b>BézierFlow: Bézier Stochastic Interpolant Schedulers for Few-Step Generation</b></header>
			<div class="authors">
				<b>Yunhong Min*</b>, Juil Koo*, Seungwoo Yoo, Minhyuk Sung (*Equal contribution.)
			</div>
			<div class="conference"><b>arXiv 2025</b></div>
			<div class="links">
				<a href="https://arxiv.org/abs/2512.13255" target="_blank">[Paper]</a>
				<a href="https://bezierflow.github.io/" target="_blank">[Project]</a>
				<a href="https://github.com/KAIST-Visual-AI-Group/BezierFlow" target="_blank">[Code]</a>
			</div>
		</div>
	</div>

	<!-- Psi-Sampler -->
	<div class="publication-cell">
		<div class="thumbnail">
			<img src="/assets/images/psisampler_fig.png" alt="Psi-Sampler Thumbnail">
		</div>
		<div class="desc-cell">
			<header><b>Psi-Sampler: Initial Particle Sampling for SMC-Based Inference-Time Reward Alignment in Score
					Models</b></header>
			<div class="authors">
				Taehoon Yoon*, <b>Yunhong Min*</b>, Kyeongmin Yeo*, Minhyuk Sung (*Equal contribution.)
			</div>
			<div class="conference"><b>NeurIPS 2025 (Spotlight)</b></div>
			<div class="links">
				<a href="https://arxiv.org/abs/2506.01320" target="_blank">[Paper]</a>
				<a href="https://psi-sampler.github.io/" target="_blank">[Project]</a>
				<a href="https://github.com/KAIST-Visual-AI-Group/Psi-Sampler" target="_blank">[Code]</a>
			</div>
		</div>
	</div>

	<!-- ORIGEN -->
	<div class="publication-cell">
		<div class="thumbnail">
			<img src="/assets/images/origen_fig.png" alt="ORIGEN Thumbnail">
		</div>
		<div class="desc-cell">
			<header><b>ORIGEN: Zero-Shot 3D Orientation Grounding in Text-to-Image Generation</b></header>
			<div class="authors">
				<b>Yunhong Min*</b>, Daehyeon Choi*, Kyeongmin Yeo, Jihyun Lee, Minhyuk Sung (*Equal contribution.)
			</div>
			<div class="conference"><b>NeurIPS 2025</b></div>
			<div class="links">
				<a href="https://arxiv.org/abs/2503.22194" target="_blank">[Paper]</a>
				<a href="https://origen2025.github.io/" target="_blank">[Project]</a>
				<a href="https://github.com/KAIST-Visual-AI-Group/ORIGEN" target="_blank">[Code]</a>
			</div>
		</div>
	</div>

	<!-- DAFT-GAN -->
	<div class="publication-cell">
		<div class="thumbnail">
			<img src="/assets/images/daftgan_fig.png" alt="DAFT-GAN Thumbnail">
		</div>
		<div class="desc-cell">
			<header><b>DAFT-GAN: Dual Affine Transformation Generative Adversarial Network for Text-Guided Image
					Inpainting</b></header>
			<div class="authors">
				Jihoon Lee*, <b>Yunhong Min*</b>, Hwidong Kim*, Sangtae Ahn (*Equal contribution.)
			</div>
			<div class="conference"><b>ACM MM 2024</b></div>
			<div class="links">
				<a href="https://arxiv.org/abs/2408.04962" target="_blank">[Paper]</a>
			</div>
		</div>
	</div>

</article>

<h3 class="archive__subtitle">Academic Service</h3>
<article class="academic-services">
	<p><b>Conference Reviewer</b></p>
	<ul>
		<li>ICLR 2026</li>
	</ul>
</article>

<script>
	const newsButton = document.getElementById("newsBtn");
	const maxVisibleItems = 10;
	const newsList = document.querySelectorAll("#newsList li");

	newsList.forEach((item, index) => {
		if (index >= maxVisibleItems) {
			item.classList.add("hidden");
		}
	});

	newsButton.addEventListener("click", () => {
		if (newsButton.textContent == "Show All") {
			newsList.forEach(item => item.classList.remove("hidden"));
			newsButton.textContent = "Show Less";
		} else {
			newsList.forEach((item, index) => {
				if (index >= maxVisibleItems) {
					item.classList.add("hidden");
				}
			});
			newsButton.textContent = "Show All";
		};
	});

	let currentIframe = 1; // Start with the first iframe
	const totalIframes = 2; // Total number of iframes

	function showIframe(iframeNumber) {
		var iframes = document.querySelectorAll('.iframe');
		iframes.forEach(item => item.style.display = "none");
		document.getElementById('iframe' + iframeNumber).style.display = 'block';
	}

	function nextIframe() {
		currentIframe = (currentIframe % totalIframes) + 1; // Go to the next iframe, loop back to 1
		showIframe(currentIframe);
	}

	function prevIframe() {
		currentIframe = (currentIframe - 2 + totalIframes) % totalIframes + 1; // Go to the previous iframe, loop back to the last
		showIframe(currentIframe);
	}
</script>


{% if paginator %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
	{% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}